<html>

<head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <form action="" method="POST">
        <div class="g-recaptcha" data-sitekey="6LddaKsqAAAAAIZ_sz7jhP0jTjtrSTnrUgqDjpD6"></div>
        <br />
        <input type="submit" value="Submit" onclick="submitForm()" />
    </form>

    <script>
        function submitForm() {
            const recaptchaResponse = grecaptcha.getResponse();

            if (!recaptchaResponse) {
                alert("Please complete the reCAPTCHA.");
                return;
            }

            fetch('/verify-recaptcha', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'g-recaptcha-response': token })
            })
                .then(response => response.json())
                .then(data => {
                    console.log("=========success============")
                    console.log(data.success)
                    if (data.success) {
                        alert("reCAPTCHA verified successfully!");
                    } else {
                        alert(`Verification failed: ${data.message}`);
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("An error occurred. Please try again later.");
                });


            // $.post("/verify-recaptcha", { 'recaptchaResponse': recaptchaResponse }, (data, status) => {
            //     console.log("----------------data---------------");
            //     console.log(data);
            // });
        }

    </script>
</body>

</html>